<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div>
    <span>id : </span>{{hero.id}}
  </div>
  <div>
    <label>name : <input [(ngModel)]="hero.name" (ngModelChange)="changed($event)" placeholder="Hero Name"/></label>
  </div>
  <button (click)="save()">Save</button>
  <button (click)="goback()">Back</button>
</div>
