<div class="main-funnel">
<svg *ngIf="sum>0" viewBox="-10 0 400 312" fill="none" xmlns="http://www.w3.org/2000/svg">
    <svg x="0" y="0" height="100%">
        <title id="tooltip">Submitted Orders {{value4}}</title>
        <path d="M331.041 18.7511L298.455 108.522L268.911 189.913L244.291 257.739L227.637 303.62C225.796 308.693 221.455 312 216.64 312H115.318C110.502 312 106.161 308.693 104.321 303.62L87.6657 257.739L63.0458 189.913L33.5022 108.522L0.916146 18.7511C-2.32529 9.82069 3.43387 0 11.914 0H320.043C328.523 0 334.282 9.82069 331.041 18.7511Z"  
              fill="#FFC951"/>
        <path *ngIf="thumbVisible<80" d="M171.648 260.362C171.515 260.007 175.187 256.728 173.046 254.071C172.545 253.45 170.845 257.046 168.431 258.674C167.099 259.572 164 261.484 164 262.541V269.383C164 270.654 168.914 272 172.648 272C174.017 272 176 263.424 176 262.062C176 260.694 171.779 260.718 171.648 260.362ZM163 260.457C162.342 260.457 160 260.857 160 263.58V268.428C160 271.149 162.342 271.449 163 271.449C163.657 271.449 162 270.877 162 269.189V262.816C162 261.048 163.657 260.457 163 260.457Z"
              fill="white"/>
    </svg>
    <svg id="opportunities" >
        <title id="tooltip">Opportunities {{value3}}</title>
        <path d="M331.041 18.7511L298.455 108.522L268.911 189.913L244.291 257.739L227.637 303.62C225.796 308.693 221.455 312 216.64 312H115.318C110.502 312 106.161 308.693 104.321 303.62L87.6657 257.739L63.0458 189.913L33.5022 108.522L0.916146 18.7511C-2.32529 9.82069 3.43387 0 11.914 0H320.043C328.523 0 334.282 9.82069 331.041 18.7511Z"
              fill="#6BCE70"/>
    </svg>
    <svg id="opportunities-arrow">
        <path d="M166 0H173L166 12L159 0H166Z" fill="white"/>
        <path d="M11 0H335V3H1V0ZM13" fill="white"/>
    </svg>
    <svg id="converted-leads">
        <title id="tooltip">Converted Leads {{value2}}</title>
        <path d="M331.041 18.7511L298.455 108.522L268.911 189.913L244.291 257.739L227.637 303.62C225.796 308.693 221.455 312 216.64 312H115.318C110.502 312 106.161 308.693 104.321 303.62L87.6657 257.739L63.0458 189.913L33.5022 108.522L0.916146 18.7511C-2.32529 9.82069 3.43387 0 11.914 0H320.043C328.523 0 334.282 9.82069 331.041 18.7511Z"
              fill="#9B73EB"/>
    </svg>
    <svg id="converted-leads-arrow" >
        <path d="M166 0H173L166 12L159 0H166Z" fill="white"/>
        <path d="M11 0H335V3H1V0ZM13" fill="white"/>
    </svg>
    <svg id="open-leads">
        <title id="tooltip">Open Leads {{value1}}</title>
        <path d="M331.041 18.7511L298.455 108.522L268.911 189.913L244.291 257.739L227.637 303.62C225.796 308.693 221.455 312 216.64 312H115.318C110.502 312 106.161 308.693 104.321 303.62L87.6657 257.739L63.0458 189.913L33.5022 108.522L0.916146 18.7511C-2.32529 9.82069 3.43387 0 11.914 0H320.043C328.523 0 334.282 9.82069 331.041 18.7511Z"
              fill="#61AAF2"/>
    </svg>
    <svg id="open-leads-arrow" >
        <path d="M166 0H173L166 12L159 0H166Z" fill="white"/>
        <path d="M11 0H335V3H1V0ZM13" fill="white"/>
    </svg>
</svg>
</div>
<div class="main-legend">
    <div class ="visual" (click)="reCalculate(true, false, false, false)">
    <span class="legend" [ngStyle]="colorlegend1"></span><span>{{data[0].value}}</span><br><span class="label">{{data[0].type}}</span></div>
    <div class ="visual" (click)="reCalculate(false, true, false, false)"><span class="legend" [ngStyle]="colorlegend2"></span><span>{{data[1].value}}</span><br><span class="label">{{data[1].type}}</span></div>
    <div class ="visual" (click)="reCalculate(false, false, true, false)"><span class="legend" [ngStyle]="colorlegend3"></span><span>{{data[2].value}}</span><br><span class="label">{{data[2].type}}</span></div>
    <div class ="visual" (click)="reCalculate(false, false, false, true)"><span class="legend" [ngStyle]="colorlegend4"></span><span>{{data[3].value}}</span><br><span class="label">{{data[3].type}}</span></div>
</div>
