input {
    margin: 10px;
}
button {
    margin: 10px;
}
.main-funnel {
    display:inline-block;
    width: 300px;
}
#tooltip {
    width: 100%;
    height: 100%;
    fill: #69c;
    stroke: #069;
    stroke-width: 5px;
    opacity: 0.5
  }
  .legend {
    border-width: 0px 16px 0px 0px;
    border-style: solid;
    margin: 15px;
    margin-bottom: 30px;
  }

  .main-legend {
     display:inline-block;
      position: relative;
  }
  .label {
    left: 45px;
    position: relative;
  }

  .visual{
      margin-bottom: 5px;
  }