<div *ngIf= "layer1 && width1" id="taper" [ngStyle]="myStyles" class="taper">
  <span class="tooltiptext pin pin-green">{{layer1.type}} : {{layer1.value}}</span>
  <svg *ngIf="layer1.type === 'commited'" class="icon" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.648 6.36228C11.515 6.00728 15.187 2.72828 13.046 0.0712805C12.545 -0.549719 10.845 3.04628 8.431 4.67428C7.099 5.57228 4 7.48428 4 8.54128V15.3833C4 16.6543 8.914 18.0003 12.648 18.0003C14.017 18.0003 16 9.42428 16 8.06228C16 6.69428 11.779 6.71828 11.648 6.36228ZM3 6.45728C2.342 6.45728 0 6.85728 0 9.58028V14.4283C0 17.1493 2.342 17.4493 3 17.4493C3.657 17.4493 2 16.8773 2 15.1893V8.81628C2 7.04828 3.657 6.45728 3 6.45728Z" fill="white"/>
    </svg>
</div>
<div class="arrow-down"></div>
<div *ngIf= "layer2 && width2" class="taper1" [ngStyle]="myStyles1">
  <span class="tooltiptext pin pin-green">{{layer2.type}} : {{layer2.value}}</span>
  <svg class="icon" *ngIf="layer2.type === 'commited'" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.648 6.36228C11.515 6.00728 15.187 2.72828 13.046 0.0712805C12.545 -0.549719 10.845 3.04628 8.431 4.67428C7.099 5.57228 4 7.48428 4 8.54128V15.3833C4 16.6543 8.914 18.0003 12.648 18.0003C14.017 18.0003 16 9.42428 16 8.06228C16 6.69428 11.779 6.71828 11.648 6.36228ZM3 6.45728C2.342 6.45728 0 6.85728 0 9.58028V14.4283C0 17.1493 2.342 17.4493 3 17.4493C3.657 17.4493 2 16.8773 2 15.1893V8.81628C2 7.04828 3.657 6.45728 3 6.45728Z" fill="white"/>
    </svg>
</div>
<div class="arrow-down"></div>
<div *ngIf= "layer3 && width3" class="taper2" [ngStyle]="myStyles2">
  <span class="tooltiptext pin pin-green">{{layer3.type}} : {{layer3.value}}</span>
  <svg *ngIf="layer3.type === 'commited'" class="icon" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.648 6.36228C11.515 6.00728 15.187 2.72828 13.046 0.0712805C12.545 -0.549719 10.845 3.04628 8.431 4.67428C7.099 5.57228 4 7.48428 4 8.54128V15.3833C4 16.6543 8.914 18.0003 12.648 18.0003C14.017 18.0003 16 9.42428 16 8.06228C16 6.69428 11.779 6.71828 11.648 6.36228ZM3 6.45728C2.342 6.45728 0 6.85728 0 9.58028V14.4283C0 17.1493 2.342 17.4493 3 17.4493C3.657 17.4493 2 16.8773 2 15.1893V8.81628C2 7.04828 3.657 6.45728 3 6.45728Z" fill="white"/>
    </svg>
</div>
<div class="arrow-down"></div>
<div *ngIf= "layer4  && width4" class="taper3" [ngStyle]="myStyles3">
    <span class="tooltiptext pin pin-green">{{layer4.type}} : {{layer4.value}}</span>
  <svg *ngIf="layer4.type === 'commited'" class="icon" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.648 6.36228C11.515 6.00728 15.187 2.72828 13.046 0.0712805C12.545 -0.549719 10.845 3.04628 8.431 4.67428C7.099 5.57228 4 7.48428 4 8.54128V15.3833C4 16.6543 8.914 18.0003 12.648 18.0003C14.017 18.0003 16 9.42428 16 8.06228C16 6.69428 11.779 6.71828 11.648 6.36228ZM3 6.45728C2.342 6.45728 0 6.85728 0 9.58028V14.4283C0 17.1493 2.342 17.4493 3 17.4493C3.657 17.4493 2 16.8773 2 15.1893V8.81628C2 7.04828 3.657 6.45728 3 6.45728Z" fill="white"/>
</svg>
</div>
<div *ngFor="let item of data">
  {{item?.type}} : {{item?.value}}
</div>

