:root {
    --top-layer1-width:0;
    --top-layer2-width:0;
    --top-layer3-width:0;
    --top-layer4-width:0;
}

.taper {
    width: 200px;
    height: 0px;
    border-color: blue transparent;
    border-style: solid; 
    border-width : 50px 25px 0 25px;
    border-radius : 10px;
    margin-top: -7px;
}
.taper1 {
    width: 150px;
    height: 0px;
    border-color: purple transparent;
    border-style: solid;
    border-width :50px 25px 0 25px;
    margin-left:25px;
    border-radius : 10px;
    margin-top: -7px;
}
.taper2 {
    width: 100px;
    height: 0px;
    border-color: #7cfc00 transparent;
    border-style: solid;
    border-width :50px 25px 0 25px;
    margin-left:50px;
    border-radius : 10px;
    margin-top: -7px;
}
.taper3 {
    width: 50px;
    height: 0px;
    border-color: #ffff00 transparent;
    border-style: solid;
    border-width: 50px 25px 0 25px;
    margin-left:75px;
    border-radius : 10px;
    margin-top: -7px;
}

.icon {
  position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40%;
    top: -22px;
}

.taper {
    position: relative;
  }
  
  .taper .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
  }
  
  .taper:hover .tooltiptext {
    visibility: visible;
  }

  .taper1 {
    position: relative;
    }
  
  .taper1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
  }
  
  .taper1:hover .tooltiptext {
    visibility: visible;
  }
  .taper2 {
    position: relative;
  }
  
  .taper2 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index:2;
  }
  
  .taper2:hover .tooltiptext {
    visibility: visible;
  }

  .taper3 {
    position: relative;
  }
  
  .taper3 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
  }
  
  .taper3:hover .tooltiptext {
    visibility: visible;
  }

  .pin {
    position: relative;
    display: inline-block;
    height: 40px;
    min-width: 56px;
    padding: 0 10px 0 2px;
    margin-left: 20px;
    color: #fff;
    font-size: 13px;
    font-family: Arial;
    text-align: center;
    line-height: 34px;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.28);
  left: 35px;
    top: -40px;
  }
  .pin-green {
    background-color: black;
    border: 1px solid black;
    border-left: 0 solid;
  }
  
  .pin::before {
    content: "";
    position: absolute;
    left: -4px;
    top: 13px;
    height: 15px;
    width: 25px;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;
    z-index: -1;
    transform: rotate(45deg);
  }

  .pin::after {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    height: 30px;
    width: 2px;
    background-color: black;
  }

  .legend {
    border-width: 0px 16px 0px 0px;
    border-style: solid;
    margin: 15px;
    margin-bottom: 20px;
  }

  .main-legend {
      top: -200px;
      position: relative;
      left: 320px;
  }

  .arrow-down {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    left: 112px;
    z-index: 1;
  }

