<div class="main-legend">
    <div (click)="reCalculate(true, false, false, false)">
    <span class="legend" [ngStyle]="colorlegend1"></span><span>{{data[0].type}}</span></div>
    <div (click)="reCalculate(false, true, false, false)"><span class="legend" [ngStyle]="colorlegend2"></span><span>{{data[1].type}}</span></div>
    <div (click)="reCalculate(false, false, true, false)"><span class="legend" [ngStyle]="colorlegend3"></span><span>{{data[2].type}}</span></div>
    <div (click)="reCalculate(false, false, false, true)"><span class="legend" [ngStyle]="colorlegend4"></span><span>{{data[3].type}}</span></div>
</div>
<app-div-funnel
[height]= height
[data]=sendData
></app-div-funnel>
