h1{
  display: block;
  text-align: center;
  font-size: 60px;
}
.nav_front{
  padding:15px 15px 15px 5px;
  background-color:black;
  border-radius: 5px;
}
.nav_front_ele{
  font-size: 20px;
}
a:hover{
 background-color: bisque;
}
a{
  background-color: yellow;
  padding: 5px;
  text-decoration: none;
  border: 5px solid black;
  margin: 2px;
  width: 50px;
}
input{
  position: relative;
  float: right;
}
ul li{
  float:right;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}
 
