h2{
  margin-top: 100px;
  display: block;
  text-align: center;
  font-size: 80px;
}
.module_hero{
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  height:300px;
  width: 23%;
  font-size: 40px;
  background-color: black;
}
.module_hero:hover{
  background-color: yellow;
}
.hero_tag{
  text-decoration: none;
  margin:10px;
}
.hero_tag:hover{
  background-color: aliceblue;
}
