:root {
    --top-layer1:0;
    --top-layer2:0;
    --top-layer3:0;
    --top-layer4:0;
}

.funnel{
    background-color: rgb(224, 223, 223);
   
}

.inputholder{
    display: inline-block;
}
.main {
    width:300px;
    background-color: rgb(250, 248, 248);
    height: 420px;
    min-height:300px;
    min-width:200px;
    position:relative;
    max-width:40%;
    max-height:500px;
    display: inline-block;
    padding: 5px;
    padding-left: 30px !important;
    }
    .layer1 {
    width:200px;
    position:relative;
    height:var(--top-layer1);
    }
    .layer2 {
    width:200px;
    position:relative;
    height:var(--top-layer2);
    }
    .layer3 {
    width:200px;
    position:relative;
    height:var(--top-layer3);
    }
    .layer4 {
    width:200px;
    position:relative;
    height:var(--top-layer4);
    }

    input {
        margin: 10px;
    }
    button {
        margin: 10px;
    }
    