<div class="funnel">
<div class="inputholder">
    <input type="number" placeholder="commited" [(ngModel)]="value1"/> <br>
    <input type="number" placeholder="booked" [(ngModel)]="value2"/>
    <br>
    <input type="number" placeholder="waiting" [(ngModel)]="value3"/>
    <br>
    <input type="number" placeholder="lost" [(ngModel)]="value4"/>
    <br>
    <button (click)="funnel()">Funnel</button>
</div>
<div class="main" *ngIf="sum">
    <img *ngIf="value1" class="layer1" src="../../assets/Fun1.svg"/>
    <img *ngIf="value2" class="layer2" src="../../assets/Fun2.svg"/>
    <img *ngIf="value3" class="layer3" src="../../assets/Fun3.svg"/>
    <img *ngIf="value4" class="layer4" src="../../assets/Fun4.svg"/>
    </div>
<div *ngIf="!sum">
<p>No Content</p>
</div>
</div>

