<div class="main_layerFunnel">
<div *ngFor="let item of obj">
  <div class = "{{item.type}}">
    <span class="tooltiptext pin pin-green">{{item.type}} : {{item.value}}</span>
  <svg *ngIf="item.type === 'commited'" class="icon" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.648 6.36228C11.515 6.00728 15.187 2.72828 13.046 0.0712805C12.545 -0.549719 10.845 3.04628 8.431 4.67428C7.099 5.57228 4 7.48428 4 8.54128V15.3833C4 16.6543 8.914 18.0003 12.648 18.0003C14.017 18.0003 16 9.42428 16 8.06228C16 6.69428 11.779 6.71828 11.648 6.36228ZM3 6.45728C2.342 6.45728 0 6.85728 0 9.58028V14.4283C0 17.1493 2.342 17.4493 3 17.4493C3.657 17.4493 2 16.8773 2 15.1893V8.81628C2 7.04828 3.657 6.45728 3 6.45728Z" fill="white"/>
</svg>
</div>
<div class="arrow-down" *ngIf="item.type != 'commited'"></div>
</div>
</div>
